HOSTNAME=""

# Traefik
TRAEFIK_USERNAME=""
TRAEFIK_PWHASH=""

# Wireguard
# Generate with: docker run -it ghcr.io/wg-easy/wg-easy wgpw YOUR_PASSWORD
# Replace each $ symbol with two $$ symbols
WG_PASSWORD_HASH=""

# Nextcloud
NEXTCLOUD_REDIS_PASSWORD=""
NEXTCLOUD_MYSQL_ROOT_PASSWORD=""
NEXTCLOUD_MYSQL_PASSWORD=""
NEXTCLOUD_MYSQL_DATABASE=""
NEXTCLOUD_MYSQL_USER=""